footer{
    display: flex;
    align-items: flex-end;
    text-align: center;
    list-style: none;
    margin-left: 260px;

}

.bottomnav li{
    text-align: center;
    display: inline-block;
    margin: 0 50px 0 0;
} 

.bottomnav li a{
    color: #535352; 
    font-size: 14px;  
}
body{
    font-family: 'Trebuchet MS', serif;
    font-size: 100%;
    background-image:url('images/bb.jpg');
    background-size: cover;
}

.body-container{
    flex-direction: column;
    margin-bottom: 20px;
    height: fit-content;
}

.juja{
    display: flex;
    align-items: center;
    width: 1000px;
    border-top: 1px;
    border-style: groove;
    margin-top: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding-left: 10px;
}


@media only screen and (max-width: 500px){
    .juja{
        flex-direction: column;
        width: 350px;
    }
    .writings{
       width: 300px; 
    }
    .imagey{
        width: 300px;
    }
    body{
        background-image: none;
    }
    footer{
        margin-left: 30px;
    }
}