nav{
    display: flex;
    justify-content: flex-end;
    background:transparent;
    opacity: .8;
    height: 35px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0%;
}
.logo{
    width: 65px;
    height: 65px;
    margin-right: 610px;

}

.hdn{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 400%;
}

.hqn{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 400%; 
    text-align: center;
}

.mhm{
    font-family: 'Trebuchet MS', serif;
    font-size: 100%;
    word-spacing: normal;
 
}

#name{
    font-family: 'Trebuchet MS', serif;
    font-size: 100%;
    letter-spacing: .1em;
    width: 430px;
    height: 26px;
    border-radius: 5px;
    border-width: 1px;
}

.lbl{
    font-family: 'Trebuchet MS', serif;
    font-size: 100%;
}

#message{
    font-family: 'Trebuchet MS', serif;
    font-size: 100%;
    letter-spacing: .1em;
    width: 430px;
    height: 260px;
    border-radius: 5px;
    
}

#sbmit{
    background-color: #507f02;
    color: #ffffff;
    border-radius: 5px;
    background: #507f02;
    font-size: 16px;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 9px 25px;
    border-width: 0;
    font-family: 'Trebuchet MS', serif;
    font-size: 95%;

}

#qns{ 
    background-size: cover;
}
#cnt{ 
    background-size: cover;
}

.navbar{
    margin-right: 210px;
}

nav ul li{
    text-align: center;
    display: inline-block;
    margin: 0 50px 0 0;
    list-style: none;
    
}

nav ul li a{
    font-size: 16px;
    color: #535352; 
}

.bottomnav{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    list-style: none;
    margin-left: 260px;

}

.bottomnav li{
    text-align: center;
    display: inline-block;
    margin: 0 50px 0 0;
} 

.bottomnav li a{
    color: #535352; 
    font-size: 14px;  
}

#btn{
    background-color: #507f02;
    color: #ffffff;
    border-radius: 5px;
    background: #507f02;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 9px 9px;
    border-width: 0;
    font-family: 'Trebuchet MS', serif;
    font-size: 95%;
    
}


a{
    text-decoration: none;
}


.middle-container {
    display: flex;
    justify-content: center;
}

.body-container{
    width: 1000px;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.writings{
    width: 500px;
    margin-bottom: 50px;
    padding-right: 100px;
}

.hm{
    width: 100%;
    height: 100%;
}


.imagey{
    width: 550px;
}


